<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Service - Adzra Fakhira</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/blog-home.css" rel="stylesheet">

</head>

<body style="background-image: url(icecream.jpg)">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">@Adzrafkhra</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="service.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4" style="color: rgb(190, 56, 16)" >Ice Cream Unik di Dunia</h1>
        


<!-- Blog Post -->
        <div class="card mb-4">
          <img style="width: 96%; margin-left: 2%; margin-top: 2%;" class="card-img-top" src="mylogo.jpeg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Ice Cream Service</h2>
            <p class="card-text">Ice Cream bisa anda dapatkan di pusat perbelanjaan terdekat dikota anda.</p>

<p>Ice Cream juga sudah banyak tersedia di E-Commerce  </p>
          </div>
        </div>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4" >
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4"  style="height: 360px";>
          <h5 class="card-header">Kategori Wisata Sumbar</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Garlic Ice Cream</a>
                  </li>
                  <li>
                    <a href="#">Glow In The Dark</a>
                  </li>
                  <li>
                    <a href="#"> Ice Cream Wasabi</a>
                 
                  <li>
                    <a href="#">Xamaleon </a>
                  </li>
                  <li>
                    <a href="#">Snake Ice Cream</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4" style="height: 550px">
          <h5 class="card-header">Manfaat Ice Cream</h5>
          <div class="card-body">
            <p>Selain karena rasa dari es krim sendiri ternyata suka makan es krim karena manfaat dari es krim. Es krim juga dapat dgunakan untuk diet dengan mengkonsumsi es krim akan meningkatkan suhu tubuh dan membakar lemak dalam tubuh. Namun diet ini akan berhasil jika konsumsi es krim dengan jumlah yang pas dan tidak berlebihan.</p>

          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Adzra Fakhira</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
